body {background-color: black;}



.back-container {background-color: aliceblue;
                width: 300px;}

.chest-container {background-color: aliceblue;
                width: 300px;}

.abs-container {background-color: aliceblue;
                    width: 300px;}
.column{float: left;
    padding: 5px;}

.row ::after {content: "";
clear: both;
display: table;}
