@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

:root {
    --black: black;
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}

h1 {
    font-size: 30px;
}

.submit_button {
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;

}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.subtitle {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    margin-left: 40px;
}

.nutrition {}

.nutrition-plan {}

.main {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5rem;
}

.card {
    height: 35rem;
    width: 25rem;
}

.card-content {
    text-align: center;
}

.test {
    
}