@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

:root {
    --black: black;
}

/* header styles */
.logo-nav {
    padding-left: 2rem;
    height: 70px;
    width: 200px;
}

header {
    display: flex;
    justify-content: center;
    color: white;
}

.it-head {
    color: #5882F8;
}

h1 {
    font-size: 30px;
    /* padding: 1rem; */
    padding: 1rem;
}

.homeBttn {

    position: relative;
    left: 75vh;
    font-size: 30px;
    background-color: var(--black);
    color: white;
    border: none;
}

.homeBttn:hover {
    background-color: #0a0a0a;
}



/* quote styles */
.health-is-wealth {
    padding-left: 5rem;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 0;
}

#title-line {
    color: lightgrey;
}

.subtitle {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    margin-left: 40px;
    color: lightgrey;
}

/* main styles */
.main {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 35rem;
    width: 25rem;
}

fieldset label {
    margin-top: 25px;
}

.card-contents {
    text-align: center;
    /* padding-bottom: 8px; */
}

.card-contents-1 {
    text-align: center;
    margin: 0;
}


/* form styles */
.demo {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}


.topLabel {
    margin-top: 0px;
}

.results {
    margin-top: 10px;
}

.results img {
    max-width: 40vh;
    margin-bottom: 10px;
}

.results a {
    font-size: 20px;
}

.results .favoriteButton {
    max-width: fit-content;
}

.local-favorites {
    text-align: center;
}

.local-favorites h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

.recipe-card {
    height: 56rem;
    width: 30rem;
    text-align: center;
}

.recipe-card2 {
    height: 56rem;
    width: 30rem;
    text-align: center;
}

/* .recipeImages {
    max-height: 250px;
} */

.submit_button {
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
}

.checkbox {
    background-color: black;
    color: white;
    border-radius: .5rem;
    width: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}


/* copyright styles */
footer {
    color: white;
    text-align: center;
    padding: 1rem;
}


/* media queries */
@media screen and (max-width: 800px) {
    .health-is-wealth {
        text-align: center;
        padding: 1rem;
    }


    .main {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .card {
        margin: 1rem;
    }

    .demo {
        display: flex;
        flex-wrap: wrap;
    }

    .checkbox {
        width: 45%;
    }

    .recipe-card2 {
        height: auto;
    }
}