@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

:root {
    --black: black;
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}

.it-head {
    color: #5882F8;
}

h1 {
    font-size: 30px;
}

.submit_button {
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 0;
}

#title-line {
    color: lightgrey;
}

.subtitle {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    margin-left: 40px;
    color: lightgrey;
}

/* .nutrition {}

.nutrition-plan {} */

.main {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5rem;
}

.card {
    height: 35rem;
    width: 25rem;
}

.card-contents {
    text-align: center;
}

.card-contents-1 {
    text-align: center;
    margin: 0;
}

.nutrition1-img {
    width: 100%;
}

.recipe-holder {
    display: flex;
    flex-direction: row;
}

.demo {
    margin-left: 10px;
}

.demo h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

.topLabel {
    margin-top: 0px;
}

.results {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.results img {
    max-width: 40vh;
    margin-bottom: 10px;
}

.results a {
    font-size: 20px;
}

.results .favoriteButton {
    max-width: fit-content;
}

.local-favorites {
    min-width: 50vh;
    position: absolute;
    right: 0%;
}

.local-favorites h2 {
    font-size: 30px;
    margin-bottom: 5px;

}


footer {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}