@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

:root {
    --black: black;
}

.heading {
    background-color: var(--black);
    color: white;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;
    margin-left: 2rem;
}

.nav-list {
    list-style: none;
    display: flex;
    /* padding: 6rem; */
    /* margin-right: 30rem; */
    font-size: 1rem;
}

.nav-list li {
    padding: 1rem;
}


.main {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    height: 40rem;
    width: 30rem;
}